html,
body {
  margin: 0;
  padding: 0;
  background: #efefef;
}

* {
  box-sizing: border-box;
}

a {
  color: #1a1a1a;
  text-decoration: underline;

  @media (hover: hover) {
    &:hover {
      color: #767676;
    }
  }
}

button {
  font: inherit;
  color: inherit;
  border: 0;
  background: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

input {
  font: inherit;
}
